// 代码组图标
@mixin code-group-icon($bg-image-url, $bg-color: #ffffff, $size: 20px) {
   content: "";
   background-image: url($bg-image-url);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: $bg-color;
   display: inline-block;
   width: $size;
   height: $size;
   margin-right: 4px;
}
